
__pycache__
venv
ignore_*

# Nodejs and Express
package-lock.json
node_modules/
jspm_packages/

# In progress
src/index.html
CONTRIBUTIONS.md

# Personal TO DO
todo.md

# Heroku
Procfile

# Early React
/index.js
/App.js

# esbuild directories
.esbuild

# Serverless directories
.serverless