
__pycache__
venv
ignore_*

# Nodejs and Express
package-lock.json
node_modules/

# In progress
src/index.html
CONTRIBUTIONS.md

# Personal TO DO
todo.md

# Heroku
Procfile

# ReadmeS
README_ES.md

# Early React
/index.js
/App.js
